# HELP file
HELP.md

# Build tools
.gradle/
build/
target/
classes/

# Gradle wrapper
!gradle/wrapper/gradle-wrapper.jar

# Maven wrapper
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# Keep nested build/bin/out folders
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/bin/
!**/src/test/**/bin/
!**/src/main/**/out/
!**/src/test/**/out/

# IDEs
.idea/
*.iml
*.ipr
*.iws
.out/
bin/
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# OS-specific
.DS_Store
Thumbs.db

# Logs & temp
*.log
*.tmp
*.swp
*.swo

# Archives
*.jar
*.war
*.ear

# Backup
*~